:host {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  align-items: baseline;

  >* {
    flex-basis: 100%;
  }
}

a {
  text-align: right;
}

.codemirror {
  min-width: 0;
  max-width: 100%;
}

.error {
  margin-top: 8px;
  color: red;
  font-style: italic;

  &.info {
    color: unset;
  }
}
