:host {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 4px;

  place-items: end;
}

label {
  grid-column: 1;
  display: block;

  span {
    font-size: 12px;
    font-style: italic;
  }
}

input[type="text"], select {
  grid-column: 2;
}

select, textarea {
  width: 100%;
  height: 100%;
}

.error {
  grid-column: 1 / -1;
  margin-top: 8px;
  color: red;
  font-style: italic;
  justify-self: start;
}
