* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
}

body,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  font-style: italic;
  font-size: 90%;
  text-decoration: none;
  color: darkblue;

  &:visited {
    color: darkblue;
  }
}
